DISCORD_TOKEN=
ASSEMBLYAI_API_KEY=
PASCRIBE_URL=http://localhost:3089
PASCRIBE_TOKEN=8f338b6c289a4b9898a221bfa3081c64
GUILD_ID=1224716298584592414
BLACKLIST_CHANNELS=1236733405698330635
RECORDINGS_DIR=./recordings
DAILY_REPORT_HOUR=23
DAILY_REPORT_MINUTE=55
VAD_AGGRESSIVENESS=2
VAD_SILENCE_TIMEOUT=1.5
MIN_SPEECH_DURATION=1.0
OPENROUTER_API_KEY=
